# compiled objects
*.o

# compiled graphics
*.1bpp
*.2bpp
*.pic

# compiled roms
*.gbc
*.gb

# rgbds folder
rgbds-0.5.2/

# rgbds extras
*.map
*.sym

# tool binaries
*.exe

# precompiled python
*.pyc
*$py.class

# .old. files
*.old.*

# save game files
*.sgm
*.sav
*.rtc
*.sn*
*.sa*
*.sg1
*.ss1
*.ss2
*.ss3
